@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#ff660000;
    background: url(./img/bruno-martins-ElUbmfsgvV0-unsplash.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
}
body::-webkit-scrollbar {
    width: 1em;
    background-color: rgb(0, 0, 0);
}
 
body::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); */
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 94, 0);
  outline: 1px solid rgb(255, 94, 0);
}

section{
    padding: 2rem 7%;
   
}

.bttb{
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.493); */
    cursor: pointer;
    color: white;
}
.bttb img{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    height: 70px;
    width: 70px;
    
}
.bttb:hover{
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.493);
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.7%;
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 4px 4px 40px rgb(0, 0, 0); */
}

.navbar-color{
    background: rgb(0, 0, 0);
    width: 100%;
    transition: 2s ease-in-out;
}

.header .logo {
    background-image: url(./img/Picture1.jpg);
    background-repeat: no-repeat;
    background-size: 170px;
    width: 170px;
    height: 70px;
    border-radius: 10px;
}

.header .logo:hover{
    box-shadow: 2px 2px 40px rgb(255, 255, 255);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1.4rem;
    color: #ffffff;
}

.header .navbar a:hover{
    /* color: rgb(0, 29, 126); */
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 50px;
    text-shadow: 2px 2px 40px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #ffd900;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: .3rem;
    text-align: center;
}
.header .icons div:hover{
    background: rgb(255, 94, 0);
    color: white;
    box-shadow: 2px 2px 20px black;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 100%; right:-110%;
    width: 50rem;
    height:5rem;
    background: rgb(0, 0, 0);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    padding:0 1.5rem ;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover{
    color: orangered;
     
}


.title h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    border-bottom: 2px dotted rgb(255, 255, 255);
    margin-bottom: 2rem;
    margin-top: 10rem;
}
.title .content{
    background: rgba(255, 255, 255, 0.658);
    border-radius: 50px;
    line-height: 5rem;
   
}
.title .content h3{
    color: rgb(0, 0, 0);
    line-height: 6rem;
    text-transform:none;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;   
}


/* *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} */
/* body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
} */
/* h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
} */

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /* white-space: nowrap; */
    background-color: rgba(255, 255, 255, 0);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 15px;
}

.fl-table td {
    padding: 15px;
    background: white;
    /* font-size: 3rem; */
    border-right: 1px solid #f8f8f8;
    font-size: 1.5rem;
}

.fl-table thead th {
    color: #000000;
    background: #ffd900cc;
}


.fl-table thead th:nth-child(odd) {
    color: #000000;
    background: rgba(255, 255, 255, 0.753);
}

.fl-table tr:nth-child(even) {
    background: #ffffff;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        font-size: 1.3rem;
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        width: auto;
        font-size: 1.1rem;
        display: block;
        text-align: center;
    }
}



.minerals .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.minerals .container h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    /* border-bottom: 2px dotted rgb(255, 255, 255); */
    margin-bottom: 2rem;
    
}
.minerals .container .image{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.minerals .container .image img{
    box-shadow: 10px 10px 20px black, -10px -10px 20px black;
    width: 50rem;
    height: 33rem;
    border-radius: 30px;
}
.minerals .container .image img:hover{
    box-shadow: 10px 10px 20px rgb(255, 255, 255), -10px -10px 20px rgb(255, 255, 255);
}
.minerals .container .image .table {
    margin: 2rem;
    font-size: 1.5rem;
    width: auto;
    height: 30rem;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}
.minerals .container .image .table tr{
    background-color: rgb(255, 255, 255);
}

.minerals .container .points{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.minerals .container .points h3{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}
.minerals .container h2{
    font-size: 3.5rem;
    color: white;
}
.minerals .container .uses{
    display: block;
    margin: 2rem;
    font-size: 1.5rem;
    width: 110rem;
    height: 20rem;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}
.minerals .container .uses tr{
    background-color: rgb(255, 255, 255);
}



.footer{
    background: rgba(255, 255, 255, 0.568);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.footer h1{
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
.footer .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer .info .information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer .info .information img{
    width: 30px;
    height: 30px;
    margin-right: 2rem;
}
.footer .info .information p{
    font-size: 1.5rem;
}
.footer .info .information .btn{
    font-size: 2rem;
    background: #ffd900;
    border-radius: 50px;
    padding: 2rem;
}
.footer .info .information a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.footer .info .information .btn:hover{
    background: rgb(255, 94, 0);
    color: white;
    cursor: pointer;
}

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1000;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 3.5s;
    
}
@keyframes fadeOut {
    50% {opacity:1;}
    100% {opacity:0;}
}
.loader img{
    height: 10rem;
}

/* ********************MEDIA QUERIES********************* */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

    
}

@media (max-width:768px){

    .packdet{
        display: none;
    }

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: 4px 4px 40px black;
        border-radius: 2rem;
        background-color:#000000;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        color: rgb(255, 255, 255);
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header.navbar a:hover{
        background: white;
        border-radius: 2rem;
        padding: 1rem;
    }
    /* .ballpens1{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .ballpens1 .pens{
        justify-content: center;
        text-align: center;
    }
    .ballpens1 .pens h3{
        font-size: 8rem;
    }
    .ballpens1 .pens p{
        font-size: 2rem;
    } */
    .minerals .container .image img{
        width: 33rem;
        height: 23rem;
    }

    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}